#title
{
  text-align: center;
}
#introduction
{
  text-align: center;
  font-style: italic;
}

#signup
{
  text-align: center;
  padding-bottom: 20px;
}

table
{
  border: 1px solid black;
  background: blue;
}

td
{
  border: 1px solid black;
  background: green;
}

th
{
  border: 1px solid black;
  background: red;
}
